<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <style>
        .center {
        width: 300px;
        padding: 10px;
        margin: auto;
        background: #c5c9d1;
        }
    </style>
</head>

<body>
<form action="http://localhost:8080/logout" method="POST">
    <input type="submit" value="Log Out">
</form>

<a href="http://localhost:8080/user">Back to Details</a>

<form action="edit" th:object="${userdto}" method="post">
    <div class="center">
        <input name="username" type="text" th:attr="value = ${userdto.username}"/>
        <p style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        <input name="password" type="password" placeholder="New password"/>
        <p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <p>If you don't want to change the password,</p>
        <p>just leave this field empty</p>
        <input name="firstname" type="text" th:attr="value = ${userdto.firstname}"/>
        <p style="color:red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
        <input name="lastname" type="text" th:attr="value = ${userdto.lastname}"/>
        <p style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>
        <input type="submit" value="Update User"/>
    </div>
</form>

</body>
</html>