<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <style>
        .center {
        width: 300px;
        padding: 10px;
        margin: auto;
        background: #c5c9d1;
        }
    </style>
</head>

<form th:action="@{/login}" method="POST">
    <div class="center">
        <input placeholder="Username" type="text" name="username">
        <input placeholder="Password" type="password" name="password">
        <a th:if="${param.error}">Invalid username and password.</a>
        <button type="submit">Sign In</button>
    </div>
</form>
</body>
</html>