<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
</head>
<body>
<form action="http://localhost:8080/logout" method="POST">
    <input type="submit" value="Выйти">
</form>

<form action="new" th:object="${user_account}" method="post">
    <div>
        <input name="username" type="text" placeholder="Username"/>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        <input name="password" type="password" placeholder="Password"/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <input name="firstname" type="text" placeholder="First name"/>
        <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
        <input name="lastname" type="text" placeholder="Last name"/>
        <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>
        <input type="submit" value="Save User"/>
    </div>
    <span class="text-success" th:utext="${successMessage}"></span>
</form>

</body>
</html>