<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <style>
        table {
            width: 60%;
            border-collapse: collapse;
            margin: auto;
        }
        td {
            border: 2px solid #000;
        }
        .center {
        width: 30px;
        padding: 10px;
        margin: auto;
        background: #c5c9d1;
        }
    </style>
</head>

<body>
<form action="http://localhost:8080/logout" method="POST">
    <input type="submit" value="Log Out">
</form>

<div sec:authorize="hasAuthority('ADMIN')">
    <a href="user/new">Add new User</a>
</div>

<div>
    <table>
        <tr>
            <td align="center" width="30%">
                <a>USERS</a>
            </td>
            <td align="center" width="30%">
                <a>ROLE</a>
            </td>

            <td align="center" width="20%">
                <a>ACTIVE</a>
            </td>
            <td align="center" width="20%">
                <a>DETAILS</a>
            </td>
        </tr>
        <tr th:each="elem : ${users}">
            <td width="30%">
                <a th:text="${elem.username}"></a>
            </td>
            <td width="30%">
                <a th:each="el : ${elem.roles}" th:text="${el.name}"></a>
            </td>
            <td width="20%">
                <a th:text="${elem.status}"></a>
            </td>
            <td width="20%">
                <a th:href="'/user/' + ${elem.id}">Details</a>
            </td>
        </tr>
    </table>
    <div align="justify" class="center" th:if="${users.totalPages > 0}">
        <a  th:each="pageNumber : ${pages}" th:href="@{/user(size=${users.size}, page=${pageNumber} - 1)}" th:text="${pageNumber}"></a>
    </div>
</div>

</body>
</html>